// Copyright 2023 VMware, Inc.
// SPDX-License-Identifier: BSD-2-Clause

:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow-y: auto;
}
